<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Index</a></li>
    <li class="nav-project" role="menuitem"><a href="{{site.baseurl}}tag/project/">Project</a></li>
    <li class="nav-theface" role="menuitem"><a href="{{site.baseurl}}tag/theface/">The Face</a></li>
    <li class="nav-inside-outside" role="menuitem"><a href="{{site.baseurl}}tag/inside-outside/">InSide & OutSide</a></li>
    <li class="nav-sethyang" role="menuitem"><a href="{{site.baseurl}}tag/sethyang/">sethyang</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
</ul>
